<h1>Dataupload</h1>

<table>
<% @record.datauploads.each do |dataupload| %>
<tr>
<td><%= dataupload.name %></td>
<td><%= link_to "delete", "/datauploads/#{dataupload.id}?dropzone=1", :method=> 'delete' %></td>
</tr>
<%end%>
</table>


<form id="datashare-upload" action="/dropzone/<%=@record.id%>" class="dropzone">	
	<div class="fallback">
	  <input name="file" type="file" multiple />
	</div>
</form>

